@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}
